# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# IDE
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Config
config.yml

# Ignore user sequences except example
user_sequences/*
!user_sequences/example_sequence_1.yml 
!user_sequences/example_sequence_2.yml 
!user_sequences/example_sequence_3.yml   